<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>比价网</title>
</head>
<body>
    <form method="post" action='/search'>
    {% csrf_token %}
        <input type="text" name='search' placeholder="请输入要查询的内容" >
        
        <select name="sort" id="sort">
            <option value="1">综合</option>
            <option value="2">销量</option>
            <option value="3">评价/人气</option>
            <option value="4">价格^</option>
            <option value="5">价格v</option>
        </select>
        <input type="submit" value="提交">

    </form>

    <div>
        <h3>{{res}}</h3>
        
    </div>

    

</body>
</html>